<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.source.android.chatsocket">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <application>
        <activity android:name=".MainActivity">
        </activity>

        <service
            android:name=".service.MainService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>